.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #fff;
  height: 6rem;
  padding: 0 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 3rem;
}

.title,
.author {
  color: #0290ff;
  font-size: 1.875rem;
  font-weight: bold;
}

.navList {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navLink:hover {
  opacity: 0.5;
}

.icon {
  color: #0290ff;
  width: 2rem;
  height: 2rem;
}

li {
  list-style: none;
}
